@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Ubuntu;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #333435;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: initial;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.banner {
  background: url(/assets/img/banner-desktop1.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: center;
}

.banner.internet {
  background: url(/assets/img/bg_product_internet.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  background-position: center;
}

.banner-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 150px;
  margin-left: 150px;
}

.banner-content {
  max-width: 40%;
}

.banner-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.banner-text {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.body-bg {
  background: url(/assets/img/bg_header.png) no-repeat;
  background-size: contain;
  width: 100%;
}

.banner-2 {
  background: url(/assets/img/banner-desktop2.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: center;
}
.home-banner {
  background: url(/assets/img/banner-home.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: center;
}

.location-banner {
  background: url(/assets/img/bg_location.jpeg) no-repeat;
  background-size: cover;
  width: 100%;
}

.profile-banner {
  top: -6rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 1px solid rgba(0, 0, 1, 0.125);
  border-radius: 0.75rem;
}

.card-shop {
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgb(0 0 1 / 15%);
  text-align: center;
  position: relative;
  font-weight: bold;
  color: white;
}

.card-shop.red {
  background: url(/assets/img/internet-shop.jpeg) no-repeat;
  background-size: cover;
}
.card-shop.blue {
  background: url(/assets/img/tv-shop.jpeg) no-repeat;
  background-size: cover;
}
.card-shop.green {
  background: url(/assets/img/telepon-shop.jpeg) no-repeat;
  background-size: cover;
}
.card-shop.black {
  background: url(/assets/img/lainnya-shop.jpeg) no-repeat;
  background-size: cover;
}

.badges-red {
  background: linear-gradient(135deg, #6a120c, #b21f15, #ee4c24, #ff7e00);
  color: white;
}
.badges-blue {
  background: linear-gradient(135deg, #080c10, #115b79);
  color: white;
}
.badges-green {
  background: linear-gradient(135deg, #284050, #0eb37e);
  color: white;
}

.para-ellip {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 640px) {
  .body-bg {
    background: transparent;
  }
  .body-bg-mobile {
    background-image: url(/assets/img/bg_header.png);
    background-repeat: no-repeat;
    background-size: 700px;
    width: 100%;
    height: 99vh;
  }

  .gender-mobile {
    flex-direction: column;
  }

  .profile-mobile {
    width: 200px;
  }
}

@media (max-width: 960px) {
  .footer-content {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

@media (max-width: 662px) {
  .footer-content {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .banner-content {
    @apply text-white;
  }

  .banner-title {
    @apply text-[2rem];
  }

  .banner-text {
    @apply text-[rgb(229,177,173)];
  }

  .card-helper.red {
    @apply bg-[url(/assets/img/internet-shop.jpeg)] bg-cover rounded-lg p-4 cursor-pointer shadow-lg h-full;
  }
  .card-helper.blue {
    @apply bg-[url(/assets/img/tv-shop.jpeg)] bg-cover rounded-lg p-4 cursor-pointer shadow-lg h-full;
  }
  .card-helper.green {
    @apply bg-[url(/assets/img/telepon-shop.jpeg)] bg-cover rounded-lg p-4 cursor-pointer shadow-lg h-full;
  }
  .card-helper.aqua {
    @apply bg-[url(/assets/img/addons-helper.png)] bg-cover rounded-lg p-4 cursor-pointer shadow-lg h-full;
  }
}

.slick-prev {
  z-index: 1;
}
.slick-next {
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: red !important;
}

.slider {
  margin: auto;
  width: 1000px;
}

.slick-prev {
  z-index: 1;
}
.slick-next {
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: red !important;
}

.slider {
  margin: auto;
  width: 1000px;
}
