.fixed-top {
  top: 0;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.navbar {
  z-index: 1030;
  transition: all 0.5s ease-in-out;
}

.nav-icon {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.navbar.navbar-primary {
  background-color: #fff;
  padding: 0.75rem 1rem;
}

.navbar,
.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  position: relative;
  right: -30px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.nav-item .btn {
  padding: 0.5rem;
  font-size: 0.75rem;
}

.btn {
  font-weight: 800;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background: #ee3124;
  border-color: #ee3124;
}

.btn-primary:hover {
  color: #fff;
  background-color: #db1e11;
  border-color: #cf1c10;
}
